
.my-color {
	color: blue;
}

.my-font {
	font-family: 'Work Sans', serif;
}

.my-root-class {
	background: white;
}

.my-root-class body {
	/*background: url(./assets/background.svg) no-repeat center center fixed;*/
	background: white;
}

/*МОЙ ПРИМЕР*/
.my-button {
	background: #b64d6f;
	border: none;
	border-radius: 3px;
	padding: 10px 10px;
}

.forgot-password {
	text-align: center;
}

.form-card {
	border: 1px solid gray;
	border-radius: 3px;
	box-shadow: 2px 4px 10px rgba(0,0,0,.2);
}

.my-link a{
    color: #b64d6f;
    font-weight: 600;
}

.my-header {
	padding: 0 !important;
}

.my-login-page {
	padding-top: 0;
}